*{margin: 0; padding: 0;}

a.nav-link {
    font-family:  segoe ui;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
} 

.navbar img {
    width: 15%;
    border-radius: 50%;
    border: 1px solid black;
    background: white;
}
nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
    margin: 0;
    padding: 0;
    height: 100px;
    line-height: 80px;
}
