*{margin: 0; padding: 0;}

a.nav-link {
    font-family:  segoe ui;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
} 

.navbar img {
    width: 15%;
    border-radius: 50%;
    border: 1px solid #c5c5c5;
    background: white;
}
nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
    margin: 0;
    padding: 0;
    height: 100px;
    line-height: 80px;
    z-index:  999;
}

@media (max-width: 576px) {
	*{
		
	}

ul.nav.navbar-nav.float-xs-right {
    float: none !important;
    text-align: center;
}

a.nav-link {
    line-height: 15px;
}

nav.navbar.navbar-light.bg-faded.navbar-fixed-top {height: 150px;text-align:  center;}

a.navbar-brand {
    text-align:  center;
    display:  block;
    width: 100%;
    padding:  0;
}
}
